@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Righteous);
* {
	font-family: 'Noto Sans TC', 'Righteous',  sans-serif;
}
html,body{
	height:100%;
}
body{
	background: url(../images/main.jpg) center center fixed no-repeat;
	background-size: cover;
	margin:0;
	min-width:284px;
}
section{
	margin:0;border:0;padding:0;
	display:block;
	position:relative;
	overflow:hidden;
}

a {
    text-decoration:none;
	color:white;
}
/*********header******/
header{
	min-width:284px;
	background:#000000;
	position:fixed;
	width:100%;
	height: 50px;
	line-height:50px;
	z-index:1;
}
header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
	padding-left:10px;
	padding-right:10px;
}
header a:hover {
    background-color: #ddd;
    color: black;
}
header a.active {
    background-color: #4CAF50;
    color: white;
}
header nav{
	float: right;
}
/*********banner******/
#banner{
	background: linear-gradient(135deg, #1b73cedb 0%, #111111db 74%),url(../images/banner.jpg),center,center,fixed,no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	height:100vh;
}
#banner h1{
	padding-top:45vh;
}
/*******main******/
#instr{
	background-color:rgba(225, 225, 225, 0.5);
	margin:0 auto;
	height:40%;
	text-align:center;
}
/*******display****/
#display{
	background-color:#f8f8f8;
	height:100vh;
}
/******footer*****/
footer{
	background:#000000;
	height: 40px;
	line-height:40px;
	text-align:center;
	color: white;
}
h1 {
  font-size: 3rem;
  line-height: 1.2; }

h2 {
  font-size: 2.25rem;
  line-height: 1.3; }

h3 {
  font-size: 1.25rem; }

h4 {
	font-size: 1.5rem;
	font-weight: 600;
}

h5 {
  font-size: 0.9rem; }

h6 {
  font-size: 0.7rem; }

@media screen and (max-width: 736px) {
	h1{
		font-size:2rem;
	}
	h4{
		font-size:1.25rem;
	}
}
@media screen and (max-width: 409px) {
	h1{
		font-size:20px;
	}
	h4{
		font-size:15px;
	}
}